@use '../custom' as *;

.display-2{
    margin-bottom: 1rem;
    text-transform: capitalize;

    &--intro{
        display: inline-block;
        font-weight: 700;
        font-family: 'PT Sans', sans-serif;
        font-display: swap;
    }
    &--description{
        font-size: 1.5rem;
        display: block;
        font-weight: 700;
        margin-top: 1.2rem;
        font-family: 'PT Sans', sans-serif;
        text-transform: none;
        font-display: swap;
    }
}

.heading-line::before{
    content:"";
    width: 10rem;
    height: 0.1rem;
    display: block;
    background-color: $primary;
    margin: 0 auto;
}

.display-3{
    font-family: 'PT Sans', sans-serif;
    font-display: swap;
}
